@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #FDAABA;
  --accent: #EEE8A9;
  --background: #FDFDFD;
  --background2: #D4F4FF;
  --accent2: #00DEFF;
  --black: #171717;
  --secondary: #80AFDB;
  --background: #D4F4FF;
}

/*Navigation*/
.logo {
  width: 100%;
  max-width: 250px;
}

.navBar {
  padding: 32px 0;
}

.nav-link {
  margin-left: 41px;
}

.nav-link:hover {
  color: var(--primary);
}

/*Frequently Asked Question*/
section.privacy {
  margin-top: 60px;
}

.cta {
  padding-top: 20px;
}

.cta {
  padding: 10px 32px;
  color: var(--black);
  background-color: var(--primary);
  border: none;
  transition: all 0.3s ease;
}

.cta:hover {
  color: var(--black);
  border: 1px solid var(--primary);
  background-color: #d895a3;
  border: none;
}

section.privacy{
  background-color: var(--accent);
}
/*Footer*/
.underline {
    color: var(--black);
    display: inline-block;
    padding-bottom: 6px;
    position: relative;
    transition: all 0.4s ease;
  }
  
  .underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fdaaba;
    transition: width 0.4s ease;
  }
  
  .underline:hover::before {
    width: 100%;
    right: auto;
  }
  
  .underline:hover{
    color: #d895a3 !important;
  }
  /*Arrow up*/
  .button-up {
    color: var(--primary);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .button-up.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-20px);
  }
  .platform a {
    transition: all 0.3s ease;
    padding: 6px 10px;
    background-color: var(--accent);
    color: var(--black);
    border-radius: 10px;
  }
  .platform a i {
    font-size: 1.2rem;
  }
  .platform a:hover {
    transform: translateY(-10px);
  }
  /*Footer*/
  footer {
    font-weight: 300;
  }
  /*Footer*/
  footer{
    background-color: var(--background2);
  }
  footer {
    margin-top: 120px !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  